<%= simple_form_for @petition, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :request_url, :placeholder => 'http://www.example.com', :input_html => {:class => 'input-xxlarge'} %>
  <%= f.input :css_selector, :placeholder => '.list > span.number:first', :input_html => {:class => 'input-xxlarge'} %>
  <%= f.input :callback_url, :placeholder => 'http://www.example.com', :input_html => {:class => 'input-xxlarge'} %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  petitions_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
